## Planning: 
How big is the gap in denial rates between judges currently serving? 
- Using FY 2019-2024 data, calculate the mean and the STD of denial rates.

Are there any patterns in this data that could indicate why there's a gap in denial rate? 
- Sort based on work experience, and calcualte the mean and STD of each of the different subsets of judges
- - If there's a difference in average rate, calculate the percent point difference
 
- Sort based on work location, and calcualte the mean and STD of each of the different subsets of judges
- - If there's a difference in average rate, calculate the percent point difference
  - calcualte the average representation rate for the location (using the percent of Asylum seekers column). 
  
Is this gap growing? 
- Using FY 2019-2024 data, calculate the mean and the STD for each of the periods of time.

In [8]:
# import pandas 
import pandas as pd

In [12]:
# import my first data set 
df = pd.read_csv("Current_Judges.csv")

In [97]:
# call the data set
df.head(5)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
0,David,Kim,349,96.0,0.9,3.2,Federal Plaza,Represented Immigrants,2022,Biden,99.0
1,Anna C.,Little,511,93.2,1.2,5.7,Federal Plaza,Unrelated,2019,Trump,98.0
2,Andrea,Koppenhofer,170,93.5,0.6,5.9,Broadway,Unrelated,2020,Trump,99.0
3,Lori,Adams,457,90.6,0.7,8.8,Federal Plaza,Represented Immigrants,2021,Biden,96.0
4,Vivienne E.,Gordon-Uruakpa,924,87.2,3.2,9.5,Federal Plaza,Represented Immigrants,2002,Bush,97.0

# Mean and Standard Deviation of the current sitting judges, for the past 5 years

In [24]:
# store mean/STD into a list
target_stats = ["mean", "std"]

In [26]:
# using the list, find the mean and std of the denial rates 
df["% Denied"].agg(target_stats).to_frame("2019-2024 Denial Rates")

      2019-2024 Denial Rates
mean               31.334545
std                20.217953

# Mean of each subset of work backgrounds

In [37]:
# Remove spaces from the column names
df.columns = df.columns.str.replace(" ", "_")

In [39]:
df.head(5)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
0,David,Kim,349,96.0,0.9,3.2,Federal Plaza,Represented Immigrants,2022,Biden,99.0
1,Anna C.,Little,511,93.2,1.2,5.7,Federal Plaza,Unrelated,2019,Trump,98.0
2,Andrea,Koppenhofer,170,93.5,0.6,5.9,Broadway,Unrelated,2020,Trump,99.0
3,Lori,Adams,457,90.6,0.7,8.8,Federal Plaza,Represented Immigrants,2021,Biden,96.0
4,Vivienne E.,Gordon-Uruakpa,924,87.2,3.2,9.5,Federal Plaza,Represented Immigrants,2002,Bush,97.0

In [211]:
# query for judges represented by ICE, store into another dataframe
df_ICE = df.query("`Previous_Workplace_` == 'ICE'")
df_ICE.head(2)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
10,Deborah E.,Klahr,663,85,1,14,Federal Plaza,ICE,2019,Trump,98
12,Randa,Zagzoug,1136,84,1,15,Federal Plaza,ICE,2010,Obama,97

In [81]:
# Sort by denial rates (just to see if there are any other patterns)
df_ICE.sort_values(by="%_Denied", ascending = False)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
54,John,Burns,544,5.3,2.0,92.6,Broadway,ICE,2020,Trump,83.0
52,Adam,Perl,859,24.9,0.2,74.9,Broadway,ICE,2021,Biden,76.0
50,Shirley,Lazare-Raphael,1091,30.9,0.6,68.5,Broadway,ICE,2020,Trump,79.0
48,James M.,McCarthy,1168,46.0,1.6,52.4,Broadway,ICE,2017,Trump,96.0
47,Carrie C.,Johnson-Papillo,426,44.1,4.7,51.2,Federal Plaza,ICE,2019,Trump,94.0
44,Robert,Gundlach,774,48.6,0.8,50.6,Broadway,ICE,2020,Trump,73.0
43,Aviva L.,Poczter,1156,50.0,1.1,48.9,Broadway,ICE,2010,Obama,96.0
42,Kalenna,Lee,230,55.2,0.4,44.3,Broadway,ICE,2023,Biden,92.0
39,Carol,Moore,311,58.2,1.3,40.5,Broadway,ICE,2022,Biden,93.0
37,F. James,Loprest,856,61.1,1.6,37.3,Federal Plaza,ICE,2010,Obama,95.0
36,Lena,Golovnin,980,63.5,1.5,35.0,Federal Plaza,ICE,2018,Trump,NaN
35,Cynthia,Gordon,1125,66.3,0.5,33.2,Federal Plaza,ICE,2018,Trump,96.0
33,Michael G.,McFarland,1095,66.5,1.2,32.3,Federal Plaza,ICE,2018,Trump,96.0
31,Virna A.,Wright,1016,67.8,1.7,30.5,Federal Plaza,ICE,2010,Obama,98.0
25,Amanda,Jeannopoulos,172,76.2,0.6,23.3,Federal Plaza,ICE,2020,Trump,88.0
19,Donald W.,Thompson,1328,78.8,1.1,20.1,Federal Plaza,ICE,2017,Trump,98.0
18,Cathy,Sagesse,722,79.6,0.7,19.7,Federal Plaza,ICE,2019,Trump,98.0
17,Evalyn P.,Douchy,1137,78.3,2.0,19.7,Federal Plaza,ICE,2016,Obama,98.0
16,Alice,Segal,1031,78.9,1.8,19.3,Federal Plaza,ICE,2010,Obama,98.0
13,Maria,Lurye,1021,84.0,1.1,14.9,Federal Plaza,ICE,2017,Obama,97.0
12,Randa,Zagzoug,1136,84.2,1.1,14.6,Federal Plaza,ICE,2010,Obama,97.0
10,Deborah E.,Klahr,663,84.9,0.9,14.2,Federal Plaza,ICE,2019,Trump,98.0

In [83]:
# find the mean of the ICE data frame 
ICE_Mean = df_ICE["%_Denied"].mean()
ICE_Mean

38.09090909090909

In [89]:
# query judges who represented immigrants 
df_RI = df.query("`Previous_Workplace_` == 'Represented Immigrants'")
df_RI

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
0,David,Kim,349,96.0,0.9,3.2,Federal Plaza,Represented Immigrants,2022,Biden,99.0
3,Lori,Adams,457,90.6,0.7,8.8,Federal Plaza,Represented Immigrants,2021,Biden,96.0
4,Vivienne E.,Gordon-Uruakpa,924,87.2,3.2,9.5,Federal Plaza,Represented Immigrants,2002,Bush,97.0
5,Amiena,Khan,620,87.7,1.9,10.3,Federal Plaza,Represented Immigrants,2010,Obama,99.0
6,Theodora N.,Kouris,722,87.3,1.1,11.6,Federal Plaza,Represented Immigrants,2019,Trump,97.0
8,Olivia L.,Cassin,845,83.9,4.1,12.0,Broadway,Represented Immigrants,2015,Obama,97.0
15,Gioia,Maiellano,185,82.2,0.5,17.3,Federal Plaza,Represented Immigrants,2022,Biden,86.0
22,Dianna Michelle,Martínez Soler,112,76.8,0.9,22.3,Federal Plaza,Represented Immigrants,2023,Biden,96.0
23,Maria E.,Navarro,1045,76.1,1.4,22.5,Broadway,Represented Immigrants,2017,Trump,98.0
26,Jonathan,Reingold,264,68.6,5.7,25.8,Federal Plaza,Represented Immigrants,2022,Biden,97.0
28,Kyle,Dandelet,580,71.6,0.7,27.8,Federal Plaza,Represented Immigrants,2022,Biden,83.0
30,Tanawa,Lebreton,327,68.2,2.4,29.4,Broadway,Represented Immigrants,2020,Trump,99.0
34,Lisa,Ehrens,631,65.0,1.9,33.1,Federal Plaza,Represented Immigrants,2019,Trump,96.0
45,Jennifer,Chung,999,49.3,0.0,50.7,Broadway,Represented Immigrants,2020,Trump,73.0

In [93]:
# mean of those who have represented migrants
RI_Mean = df_RI["%_Denied"].mean()
RI_Mean

20.307142857142857

In [99]:
# query for judges represented by ICE, store into another dataframe
df_Unrelated = df.query("`Previous_Workplace_` == 'Unrelated'")
df_Unrelated.head(2)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Asylum_Seekers_that_had_representation
1,Anna C.,Little,511,93.2,1.2,5.7,Federal Plaza,Unrelated,2019,Trump,98.0
2,Andrea,Koppenhofer,170,93.5,0.6,5.9,Broadway,Unrelated,2020,Trump,99.0

In [101]:
# find the mean of the Unrelated judges
Unrelated_Mean = df_Unrelated["%_Denied"].mean()
Unrelated_Mean

29.372222222222224

# Table of denial rates based on work background

In [276]:
# round to two decimal places
pd.options.display.float_format = '{:,.2f}'.format

In [139]:
# store the values into a table 
Workplaces_df = pd.DataFrame({
    "ICE": [ICE_Mean],
    "Unrelated": [Unrelated_Mean],
    "Represented Immigrants": [RI_Mean]
}, index=["Mean Denial Rate"])

Workplaces_df

                   ICE  Unrelated  Represented Immigrants
Mean Denial Rate 38.09      29.37                   20.31

# Percentage point difference
1. Between mean denial rates
2. Between the entire data set

In [150]:
# percentage point difference bewteen mean denial rates 
ICE_Mean - Unrelated_Mean

8.71868686868687

In [152]:
ICE_Mean - RI_Mean

17.783766233766237

In [154]:
Unrelated_Mean - RI_Mean

9.065079365079367

In [156]:
# The largest differece in mean denial rates is between judges who previously worked for ICE

In [270]:
# Percentage point difference between all the judges' denial rates in the data set 
pp_all = (df["%_Denied"].max())-(df["%_Denied"].min())
pp_all

89.39999999999999

In [272]:
# just checking whether that makes sense...
df["%_Denied"].max()

92.6

In [274]:
df["%_Denied"].min()

3.2

In [192]:
# it should be 89.4 - that's the answer

# Judge Denial Rates by Location

In [266]:
# query for judges who work in the Broadway and Federal Plaza courts, store into another dataframe
df_Broadway = df.query("Court_Location_ == 'Broadway'")
df_Broadway.head(3)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Representation
2,Andrea,Koppenhofer,170,94,1,6,Broadway,Unrelated,2020,Trump,99
7,Noel A.,Brennan,899,87,1,12,Broadway,Unrelated,2003,Bush,98
8,Olivia L.,Cassin,845,84,4,12,Broadway,Represented Immigrants,2015,Obama,97

In [264]:
df_FP = df.query("Court_Location_ == 'Federal Plaza'")
df_FP.head(3)

,First_Name,Last_Name,Total_decisions_,%Granted_,%Granted_Other_Relief,%_Denied,Court_Location_,Previous_Workplace_,Date_Appointed_,Appointed_by_,%Representation
0,David,Kim,349,96,1,3,Federal Plaza,Represented Immigrants,2022,Biden,99
1,Anna C.,Little,511,93,1,6,Federal Plaza,Unrelated,2019,Trump,98
3,Lori,Adams,457,91,1,9,Federal Plaza,Represented Immigrants,2021,Biden,96


Calculations for Broadway court

In [295]:
# Mean and STD of Denial Rates 
df_BDR = df_Broadway["%_Denied"].agg(target_stats).to_frame("Broadway Denial Rates")
df_BDR

      Broadway Denial Rates
mean                  51.04
std                   31.39

In [297]:
# Mean and STD of %Asylum_seekers_that_Had_representation
df_Brep = df_Broadway["%Representation"].agg(target_stats).to_frame("Broadway Representation Rates")
df_Brep

      Broadway Representation Rates
mean                          87.60
std                           11.46

In [284]:
# What is the most common previous workplace? 
df_Broadway['Previous_Workplace_'].value_counts()

Previous_Workplace_
Unrelated                 4
ICE                       4
Represented Immigrants    1
Immigration unit          1
Name: count, dtype: int64



Calculations for Federal Plaza court

In [303]:
# Mean and STD of Denial Rates 
df_FPDR = df_FP["%_Denied"].agg(target_stats).to_frame("Federal Plaza Denial Rates")
df_FPDR

      Federal Plaza Denial Rates
mean                       23.67
std                        12.63

In [305]:
# Mean and STD of %Asylum_Seekers_that_had_representation
df_FPrep = df_FP["%Representation"].agg(target_stats).to_frame("FP Representation Rates")
df_FPrep

      FP Representation Rates
mean                    96.70
std                      2.40

In [313]:
# merging so that I can compare the data more clearly
df_merged = pd.concat([df_BDR, df_Brep, df_FPDR, df_FPrep], axis=1)
df_merged

,Broadway Denial Rates,Broadway Representation Rates,Federal Plaza Denial Rates,FP Representation Rates
mean,51.04,87.60,23.67,96.70
std,31.39,11.46,12.63,2.40

In [319]:
# Conclusions - 
# - there are lower levels of representation at the Broadway court
# - But the denial rates are significantly higher

## How are these patterns changing over time?

Using data from TRAC, I merged data sets which tracked denial rates in 5 year increments since 2011.

In [328]:
# import the second data set 
df2 = pd.read_csv("FY2011-2024_DenialRates.csv")

In [330]:
df2

,Year,Name,Total Decisions,% Granted Asylum,% Denied
0,2019-2024,"Burns, John",544,5.30,92.60
1,2019-2024,"Menkin, Jeffrey L.",211,4.70,83.40
2,2019-2024,"Spencer, Oshea Denise",647,21.80,77.40
3,2019-2024,"McKee, James",553,22.10,76.50
4,2019-2024,"Perl, Adam",859,24.90,74.90
...,...,...,...,...,...
474,2011-2016,"Brennan, Noel A.",2240,94.60,5.40
475,2011-2016,"Bain, Terry A.",1802,95.30,4.70
476,2011-2016,"Bukszpan, Joanna M.",1194,95.50,4.50
477,2011-2016,"Lamb, Elizabeth A.",1625,96.30,3.70
478,2011-2016,"Leeds, Frederic G.",668,97.80,2.20

In [334]:
# now I'm going to calculate the STD in denial rates for each of the time periods, using groupby function
STD_time = df2.groupby('Year ')['% Denied'].std()

In [336]:
STD_time

Year
2011-2016     15.91
2012-2017     15.53
2013-2018     16.51
2014-2019     20.10
2015 - 2020   23.94
2015-2020     22.27
2016-2021     22.64
2017-2022     21.42
2018-2023     20.84
2019-2024     20.80
Name: % Denied, dtype: float64

In [338]:
# store this list into a data frame

In [344]:
STD_df = STD_time.to_frame(name='Denial Rate STD Over Time')

In [346]:
STD_df

             Denial Rate STD Over Time
Year
2011-2016                        15.91
2012-2017                        15.53
2013-2018                        16.51
2014-2019                        20.10
2015 - 2020                      23.94
2015-2020                        22.27
2016-2021                        22.64
2017-2022                        21.42
2018-2023                        20.84
2019-2024                        20.80

In [350]:
# I'm going to do the same thing for mean denial rates 
Mean_time = df2.groupby('Year ')['% Denied'].mean()

In [352]:
Mean_time

Year
2011-2016     19.50
2012-2017     18.61
2013-2018     22.18
2014-2019     29.72
2015 - 2020   37.20
2015-2020     35.24
2016-2021     36.64
2017-2022     37.67
2018-2023     35.97
2019-2024     34.39
Name: % Denied, dtype: float64

In [354]:
# store into a data frame

In [358]:
Mean_df = Mean_time.to_frame(name='Mean Denial Rate Over Time')
Mean_df

             Mean Denial Rate Over Time
Year
2011-2016                         19.50
2012-2017                         18.61
2013-2018                         22.18
2014-2019                         29.72
2015 - 2020                       37.20
2015-2020                         35.24
2016-2021                         36.64
2017-2022                         37.67
2018-2023                         35.97
2019-2024                         34.39